.addPlayer {
  width: 50%;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 50px auto;
  padding: 10px;
}

.addUserForm {
  margin-top: 20px;
}

span{
  margin-bottom: 20px;
  color: red;
}
.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addUserForm .inputGroup label {
  margin-bottom: 5px;
  color: rgb(211, 131, 103);
}

.addUserForm .inputGroup input {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border-color: rgb(218, 193, 184);
}

.addPlayer h3 {
  margin-bottom: 10px;

  color: rgb(120, 51, 40);
  text-align: center;
}

.submitdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addUserForm button {
  margin: 0;
  outline: none;
  background-color: rgb(120, 51, 40);
  color: aliceblue;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-top: 20px;
}
.submitdiv .back {
  text-decoration: none;
  color: aliceblue;
}
