.container {
  max-width: 600px;
  margin: 20px auto;
  
}
h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #cc7171;
  color: rgb(252, 110, 110);
}
.btngreen{
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color:green;
}

.btngreen:hover{
  background-color: rgb(23, 109, 80);
}


.btnred{
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color:red;
}

.btnred:hover{
  background-color: rgb(233, 105, 105);
}

.btnadd{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.players {
 
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
 
  
}

.players td,
.players th {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: capitalize;
}

.players tr:nth-child(even) {
  background-color: #f2f2f2;
}

.players tr:hover {
  background-color: #ddd;
}

.players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #987070;
  color: white;
}



